.App {
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.overlay text {
  font-size: 15em;
  font-weight: 700;
  font-family: 'DM Mono', monospace;
  font-style: italic;
  text-transform: uppercase;
  dominant-baseline: central;
}

.overlay > svg > rect {
  fill: rgba(0, 0, 0, 0.9);
}
